@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);


/*--
font-family: 'Hanna', serif;
font-family: 'Jeju Gothic', serif;
font-family: 'Jeju Hallasan', serif;
font-family: 'Jeju Myeongjo', serif;
font-family: 'KoPub Batang', serif;
font-family: 'Nanum Brush Script', serif;
font-family: 'Nanum Gothic', serif;
font-family: 'Nanum Gothic Coding', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Nanum Pen Script', serif;
--*/

/* CSS Document */

body {
	font-family:'Nanum Gothic Coding', serif;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
}

.header {
	background: #fff;
	padding: 2em 0;
    padding-bottom: 5px;
	
}
.navbar-brand {
	font-size: 32px;
	font-weight: 700;
	color: #444;
	letter-spacing: -1px;
	padding: 5px;
}
.navbar-brand:hover {
	color: #2ABB9B;
}
.navbar-brand .fa {
	color: #2abb9b;
}
.menu {
	float: right;
}
.menu li {
	display: inline-block;
}
.menu li:first-child {
	margin-left: 0;
}
.menu li a {
	display: block;
	font-size: 1em;
	color: #777;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
}
#nav .current a {
	color: #2ABB9B;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.menu li a:hover, .menu li.active a {
	color: #2ABB9B;
	background: #fff !important;
}
.toggleMenu {
	display: none;
	padding: 4px 5px 0px 5px;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-o-border-radius: 2em;
}
.nav:before, .nav:after {
	content: " ";
	display: table;
}
.nav:after {
	clear: both;
}
.nav ul {
	list-style: none;
}

.line {
	background: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
	border-top: 1px solid #2ABB9B;
}

