/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);


/*--
font-family: 'Hanna', serif;
font-family: 'Jeju Gothic', serif;
font-family: 'Jeju Hallasan', serif;
font-family: 'Jeju Myeongjo', serif;
font-family: 'KoPub Batang', serif;
font-family: 'Nanum Brush Script', serif;
font-family: 'Nanum Gothic', serif;
font-family: 'Nanum Gothic Coding', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Nanum Pen Script', serif;
--*/



body{
	font-family: 'Nanum Gothic Coding', serif;
}

.boxed-page {
  position: relative;
  width: 1220px;
  margin: 0 auto;
  background-color: #fff;

}

.logo{
float:left;
margin-right:2em;
}

.top-menu{
float:left;
width:40%;
font-family: 'Jeju Gothic', serif;
font-size: 1.6em;
margin-top:2.0em;

}

.top-menu ul {
margin-top:1em;
}

.top-menu ul li {
display: inline-block;
}

.top-menu ul li a {
margin:1em 1.7em 1em 0em;
display: block;
color: #4a5054;
font-weight: 400;
font-size: 0.9em;
text-decoration: none;
transition: all;
-webkit-transition: all;
-moz-transition: all;
-o-transition: all;
}

.top-menu ul li a:hover,.top-menu ul li.active a{
color:#00aeff;
}
